<nav>
  <div class="site-title">
    <a href="/"><h1>Tasky</h1></a>
    <p>Your task Manager</p>
  </div>
  <ul>
    <li><a href="/">Task</a></li>
    <li><a href="/blogs/create">New Task</a></li>
  </ul>
</nav>